[submodule "custom_modules/godot_voxel"]
	path = custom_modules/godot_voxel
	url = https://github.com/Zylann/godot_voxel.git
[submodule "custom_modules/godotsteam"]
	path = custom_modules/godotsteam
	url = https://codeberg.org/godotsteam/godotsteam.git
